<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="dataConfiguration" type="NarolaInfotech.Data.Configuration.DatabaseSettings, NarolaInfotech.Data"/>
	</configSections>
	<location path="Admin">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<connectionStrings>
		<add name="DataAccessQuickStart" providerName="System.Data.SqlClient" connectionString="Data Source=CHITRANG-PANDIT\SQLEXPRESS1;Initial Catalog=timesheetv2;Integrated Security=True"/>
    <!--"server=DATABASE_SERVER;database=DATABSE_NAME;user id=DATABASE_ID; Password=DATABASE_PASSWORD"-->
    
  </connectionStrings>
	<dataConfiguration defaultDatabase="DataAccessQuickStart"/>
	<appSettings>
		<add key="MailServer" value="MAIL SERVER"/>
		<add key="UserID" value="USER ID / FROM EMAIL ID"/>
		<add key="Password" value="PASSWORD"/>
		<add key="lastDate" value="wx3rmoclXn8cfFevbolQeg=="/>
		<add key="system_email_sender" value="FROM EMAIL ID"/>
		<add key="system_email_sender_password" value="PASSWORD"/>
		<add key="Admin_EmailCC" value="ADMIN EMAIL ID"/>
		<add key="MailServerIP" value="MAIL SERVER"/>
		<add key="Email_subject" value="Missing Timesheet of {0} for {1}"/>
		<add key="OUT_PORT" value="PORT"/>
		<add key="ConnectionString" value="Data Source=DATABASE_SERVER;database=DATABSE_NAME;user id=DATABASE_ID; Password=DATABASE_PASSWORD"/>
	</appSettings>
	<system.web>
		<pages enableSessionState="true" enableViewStateMac="false" enableEventValidation="false" viewStateEncryptionMode="Never" theme="SkinFile" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
				<add tagPrefix="CustomControls" namespace="CustomWebControls" assembly="CustomWebControls"></add>
			</controls>
		</pages>
		<httpHandlers>
			<add verb="POST,GET" path="*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2"/>
		</httpHandlers>
		<authentication mode="Forms">
			<forms name="AuthCookie" path="/" loginUrl="~/Admin/AdminLogin.aspx" protection="All" timeout="20">
			</forms>
		</authentication>
		<authorization>
			<allow users="?"/>
		</authorization>
		<sessionState timeout="60"></sessionState>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation></system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
</configuration>
